* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
    /* overflow: hidden; */
}

body {
    background-color: #f2f4f8;
}

.navbar {
    height: 50px;
    display: flex;
    background-color: white;
    box-shadow: 0px -1px 10px 0px rgba(143, 143, 143, 0.75);
}

.navbar-logo {
    display: flex;
    flex-basis: 20%;
    /* background-color: blue; */
}

.navbar-items {
    display: flex;
    flex-basis: 60%;
    /* background-color: black; */
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    flex-basis: 17%;
    padding: 0.7rem;
}

.it-l {
    padding-right: 5px;
}

.bor-active {
    border-bottom: 3px solid #006e74;
}

.items {
    border-left: 1px solid #006e74;
    align-items: center;
}

.items:hover {
    background-color: lightgray;
}

.item5 {
    /* background-color: lawngreen; */
    border-right: 1px solid #006e74;
}

.navbar-profile {
    display: flex;
    flex-basis: 20%;
    /* background-color: violet; */
}

#logo {
    width: 130px;
    height: 20px;
    margin: 1rem;
}

.an {
    padding: 0.7rem;
}

#user {
    padding: 1rem;
}

#usrl {
    padding-left: 1rem;
}

.flex-container-top {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex-container-top>div {
    background-color: white;
    margin: 10px;
    height: 80px;
}

.flex {
    /* border-radius: 7px; */
    color: black;
    padding: 0.7rem;
}

.left {
    display: flex;
    flex-basis: 60%;
}

.flex-top {
    box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.75);
}


/* .b-top {
    display: flex;
    flex-basis: 65%;
} */


/* .b-top>div {
    background-color: white;
    margin: 10px;
    box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.75);
    border-radius: 7px;
} */

.flex1 {
    height: 8rem;
}

.header-fb {
    border-bottom: 1px solid #006e74;
}

.fb-items {
    padding-left: 2rem;
    padding-right: 2rem;
    transition: .3s;
}

.fb-item4 {
    color: #006e74;
}


/* #vai {
    padding-left: 20rem;
} */

.fb-items:hover {
    color: lightgrey;
    transition: .3s;
}


/*skfdsjkbhdskbsdkcbsdkcbsdkcbweukyfgwekfbwekfbwekfbwekfbwekfbwekf
jbefkjweblwejbflwebfwejhb
wefhbwefjwehbf
wefbhjlwebew*/

.flex-demo {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
}

#flex-container {
    padding: 1rem;
    height: 550px;
}

#first,
#fourth,
#fifth {
    /* border-radius: 7px; */
    box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.75);
}

@media (min-width: 576px) {
    #flex-container {
        display: flex;
        margin: 0 auto;
    }
    #fifth {
        height: 550px;
        flex-basis: 40%;
        background-color: #f2f4f8;
        margin: 0;
        padding: 0;
    }
    #left {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
    }
    #left .flex {
        margin-right: 30px;
    }
    #top {
        display: flex;
        flex-basis: 40%;
    }
    #bottom {
        display: flex;
        flex-basis: 60%;
        /* background-color: white; */
    }
    #first {
        flex-basis: 100%;
    }
    #fourth {
        overflow: scroll;
        flex-basis: 100%;
        background-color: #f2f4f8;
        height: 350px;
        display: grid;
        width: 100%;
        grid-template-columns: 49% 49%;
        gap: 0.01rem;
        /* height: 40rem; */
    }
}

.underlines {
    display: flex;
    position: relative;
    padding: 15px;
    /* justify-content: space-between; */
    background-color: white;
}

.un {
    width: 100%;
    border: none;
    /* text-align: center; */
    /* justify-content: start; */
    background-color: white;
}

.underlines li {
    text-align: center;
    border-color: white;
}

.un li {
    display: inline;
    background-color: #f2f4f8;
    padding: 10px;
    margin-right: 10px;
}

.un a {
    background-color: #f2f4f8;
    color: black;
}

.search {
    border: 1rem;
    display: flex;
    background-color: white;
}

.bar {
    height: 2rem;
    margin-right: 1px;
}

.searchbox {
    width: 50rem;
    height: 1.5rem;
    background-color: #f2f4f8;
    padding: 2px;
}

.head2 {
    height: 2rem;
    background-color: white;
}

#rc {
    padding: 10px;
}

#rcl {
    float: right;
}

#texttt {
    padding: 5rem;
}


/*inline */

#inline {
    height: 450px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.scroll {
    height: 500px;
}


/* .scrollblock {
    overflow: scroll;
    width: 60%;
    height: 20rem;
    margin: 2px;
}

.scrolling {
    display: grid;
    width: 100%;
    grid-template-columns: 49% 49%;
    gap: 0.01rem;
    height: 40rem;
} */

.firstone {
    padding: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

.dem {
    display: flex;
}

.firstone p {
    color: grey;
}

.firstone span {
    font-size: 1.1rem;
    font: bolder;
}

.first img {
    float: right;
}

.ontime {
    border: 2px;
    background-color: #e7f4ff;
    color: skyblue;
    font-size: 0.9rem;
    padding: 0.06rem;
    margin-top: 0.1rem;
}

.demo {
    padding: 0.2rem;
}

.de {
    display: inline-flex;
    padding-left: 12rem;
}

.nextline {
    display: flex;
    background-color: #f2f4f8;
    margin: 0.5rem;
    padding: 0.1rem;
}

.sikkim {
    padding-right: 0.4rem;
    padding-top: 0.4rem;
}

.seattle {
    padding-left: 10rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
}

.leftone {
    display: flex;
    padding: 1rem;
    padding-top: 3rem;
    color: grey;
}

.plan {
    padding-left: 9.5rem;
}

.footer {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.secondone {
    padding: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

.dem1 {
    display: flex;
}

.demo1 {
    padding: 0.2rem;
}

.de1 {
    display: inline-flex;
    padding-left: 12rem;
}

.thirdone {
    padding: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

.delayed {
    border: 2px;
    background-color: rgb(243, 157, 157);
    color: #f96464;
    padding: 0.2rem;
    font-size: 0.8rem;
    margin-top: 0.09rem;
}

.nextline2 {
    display: flex;
    background-color: #f2f4f8;
    margin: 0.5rem;
    margin-top: 1rem;
    padding: 0.1rem;
}

.dem2 {
    display: flex;
}

.demo2 {
    padding: 0.2rem;
}

.de2 {
    display: inline-flex;
    padding-left: 12rem;
}

.letters {
    display: flex;
    color: red;
}

.let2 {
    padding-left: 12rem;
}

.footer1 {
    padding-top: 2.7rem;
    display: flex;
    justify-content: space-between;
}

.forthone {
    padding: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

.Resheduled {
    border: 2px;
    background-color: rgb(207, 244, 207);
    color: #7bec84;
    padding: 0.3rem;
    font-size: 0.7rem;
    margin-top: 0.09rem;
}

.dem3 {
    display: flex;
}

.demo3 {
    padding: 0.2rem;
}

.de3 {
    display: inline-flex;
    padding-left: 11rem;
}

.nextline3 {
    display: flex;
    background-color: #f2f4f8;
    margin: 0.5rem;
    margin-top: 4rem;
    margin-top: 2rem;
    padding: 0.1rem;
}

.footer2 {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}