* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    text-decoration: none;
    background-color: #f2f4f8;
}

.flex-container-2 {
    padding: 5% 3%;
}

.flex-2 {
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    #flex-container-2 {
        display: flex;
        /* min-width: max-content; */
        height: 300px;
        margin: 0 auto;
    }
    #left-2 {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;
    }
    #left-2 .flex {
        margin-right: 30px;
    }
    #top-2 {
        display: flex;
        flex-basis: 50%;
    }
    #bottom-2 {
        display: flex;
        flex-basis: 50%;
    }
    #first1 {
        background-color: white;
        flex-basis: 50%;
    }
    #second1 {
        background-color: white;
        flex-basis: 50%;
    }
    #third1 {
        background-color: white;
        flex-basis: 50%;
    }
    #fourth1 {
        background-color: white;
        flex-basis: 50%;
    }
}